@page
@using CodeMechanic.Todoist
@model TrashStack.Pages.Todos.Index
@inject ITodoistService todoist;

<div x-data="setup_todoist()">

    <button @@click="show_stats_blade = !show_stats_blade" class="btn btn-circle btn-outline btn-lg">
        <span class="text-sm">
            Stats
        </span>

        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>

    </button>

    <button @@click="show_projects_breakdown = !show_projects_breakdown" class="btn btn-circle btn-outline btn-lg">
        <span class="text-sm">
            Projects
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
    </button>

    <section x-show="show_stats_blade" x-collapse class="card bg-base-100 shadow-xl">
        <div class="min-h-screen border-primary border-l-accent">
            <div class="hero min-h-screen">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <img src="~/img/todoist_developer.svg"/>
                        <h1 class="text-5xl text-accent font-bold">Your Goals</h1>
                        <p class="py-6 text-secondary">
                            Here's how you're doing overall:
                        </p>

                        <div class="stats shadow">

                            <div class="stat place-items-center">
                                <div class="stat-title">Total Tasks</div>
                                <div class="stat-value">@Model.all_tasks_count</div>
                                @* <div class="stat-desc">From January 1st to February 1st</div> *@
                            </div>

                            <div class="stat place-items-center">
                                <div class="stat-title">Projects</div>
                                <div class="stat-value text-secondary">@Model.project_total_count</div>
                                @* <div class="stat-desc text-secondary">↗︎ 40 (2%)</div> *@
                            </div>

                            <div class="stat place-items-center">
                                <div class="stat-title">Tasks Completed</div>
                                <div class="stat-value">@Model.completed_tasks_count</div>
                                <div class="stat-desc text-ghost font-italic">(this week)</div>
                                @* <div class="stat-desc">↘︎ 90 (14%)</div> *@
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section x-show="show_projects_breakdown" x-collapse class="grid grid-rows-auto grid-cols-2 gap-4">

        @foreach (var project in @Model.todoist_stats.TodoistProjects)
        {
            var tasks_related_to_project = @Model.todoist_stats.FindTodosByProject(project);
            var completed_tasks = @Model.todoist_stats.FindCompletedTodos(project);
            // var done_percentage = MathExtensions.GetPercentChange(completed_tasks_count, related_tasks.Count);

            <div class="card w-120 bg-base-100 shadow-xl">

                <div class="card-body">
                    <h2 class="card-title">
                        @project.name
                        <div class="badge badge-secondary">@project.view_style</div>
                    </h2>

                    <div class="stats border-2 border-accent-content/10">
                        <div class="stat">
                            <div class="stat-figure text-secondary">

                                <div class="radial-progress" style="--value:80;" role="progressbar">
                                    @* @done_percentage % *@
                                </div>
                            </div>
                            <div class="stat-value">@completed_tasks.Count</div>
                            <div class="stat-title">Tasks done</div>
                            <div class="stat-desc text-lg text-primary">
                                @tasks_related_to_project.Count total tasks in this project.
                            </div>
                        </div>

                    </div>

                    @* <p>@project.view_style</p> *@
                    @* <div class="card-actions justify-end"> *@
                    @*     <div class="badge badge-outline">Fashion</div> *@
                    @*     <div class="badge badge-outline">Products</div> *@
                    @* </div> *@
                </div>
            </div>
        @* <li>Name: @project.name</li> *@
        @* <li>Name: @project.color</li> *@
        @* <li>Name: @project.id</li> *@
        }
    </section>

</div>

<script>
    function setup_todoist() {
        return {
            show_stats_blade: true,
            show_projects_breakdown: true
        }
    }
</script>