@using evantage.Pages.Components
@using Hydro
@using CodeMechanic.Types
@model Index

@{
    var zeroes = @Model.Zeroes;
}

<div id="zeroes_grid" class="min-h-screen">
    <shadow shadow-type="distant">
        <h1 class="text-secondary text-2xl">Zeroes</h1>
    </shadow>

    <section class="grid lg:grid-cols-2 sm:grid-cols-1">

        @foreach (var item in zeroes)
        {
            <bento-card>
                <slot name="title">@item.Id</slot>
                @if (@item.Price_Per_Round.NotEmpty())
                {
                    <hydro-li>
                        @nameof(@item.Price_Per_Round): @item.Price_Per_Round
                    </hydro-li>
                }
                @if (@item.BallisticCoefficient.NotEmpty())
                {
                    <hydro-li>
                        @nameof(@item.BallisticCoefficient): @item.BallisticCoefficient
                    </hydro-li>
                }
                @if (@item.Velocity.NotEmpty())
                {
                    <hydro-li>
                        @nameof(@item.Velocity): @item.Velocity
                    </hydro-li>
                }

                <slot name="actions">
                    <div class="tooltip-bottom tooltip" data-tip="View @item.Calculator">
                        <a target="_" href="@item.Calculator">
                            <button>Calculator</button>
                        </a>
                    </div>
                </slot>
            </bento-card>
        }
    </section>
</div>