@using CodeMechanic.Types
@model List<LogRecord>
@{
    var rows = Model;
    int limit = 100;
}

<section id="splunky_logs" class="vertical-padding">
    <div class="overflow-x-auto wrapper">
        <b>Rows: @rows.Count</b>

        <table class="table w-full">
            <thead>
            <tr>
                <th></th>
                <th>Table</th>
                <th>Exception</th>
                <th>Diff</th>
                <th>Params</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in rows.Take(limit))
            {
                <tr x-data="{show_details: false}">
                    <th>
                        <label>
                            <input type="checkbox" class="checkbox"/>
                        </label>
                    </th>
                    <td>
                        <div class="flex items-center gap-3">
                            <div class="avatar">
                                <div class="bg-neutral text-neutral-content rounded-full w-12">
                                    <span class="text-3xl">@row.database_name.ToUpperInvariant()[0]</span>
                                </div>
                            </div>
                            <div>
                                <div class="font-bold text-secondary">@row.operation_name</div>
                                <div class="text-sm opacity-50 text-primary">@row.table_name</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        @row.exception_message
                        <br/>
                        <span class="badge badge-ghost badge-sm">@row.exception_severity</span>
                    </td>
                    <th>
                        <button class="btn btn-ghost btn-xs" x-on:click="show_details=!show_details">
                            Details
                        </button>
                        <td x-text="show_details" x-show="show_details">@row.exception_message</td>
                    </th>
                    <td>@row.diff</td>
                    <td>@row.sql_parameters</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>
<style>
    .wrapper {
        width: min(900px, 100% - 3rem);
        /*margin-inline: auto;*/
    }
    table {
        border-collapse: collapse;
    }
    
    th,td {
        padding: 1rem;
        /*background: #002f4a;*/
    }
    
    caption,th {
        text-align: left;
    }
    
    caption {
        /*background: hsl(0, 0%, 0%);*/
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    
     @@media(max-width: 650px) {
        th {
            display: none;
        }
        td {
            display: block;
            padding: 0.75rem 1rem;
        }
        
        td:first-child {
            padding-top: 2rem;
        }
        td:last-child {
            padding-bottom: 2rem;
        }
        
        td::before {
            content: attr(data-cell) ": ";
            font-weight: 700;
            text-transform: capitalize;
        }
        
        /*td:nth-of-type(1)::before {*/
        /*    content: "retailer"*/
        /*}*/
     }
        
</style>