@page
@using CodeMechanic.Extensions
@using evantage.Services
@model evantage.Pages.OS.Pwints

@{
    // string cwd = Directory.GetCurrentDirectory();
    // var di = cwd.AsDirectory();

    var pwint_options = new List<PwintOption>()
    {
        new PwintOption()
        {
            title = "STLs in Downloads",
            tooltip = "Find all STL files on a given drive",
            file_mask = "*.stl",
            root_directory = "/home/nick/Downloads/pwints"
        },
        // new PwintOption()
        // {
        //     title = "STLs in Desktop",
        //     tooltip = "Find all STL files on a given drive",
        //     file_mask = "*.stl",
        //     root_directory = "/home/nick/Desktop/"
        // },
        // new PwintOption()
        // {
        //     title = "STLs in Documents",
        //     tooltip = "Find all STL files on a given drive",
        //     file_mask = "*.stl",
        //     root_directory = "/home/nick/Documents/"
        // },
        // new PwintOption()
        // {
        //     root_directory = "/home/nick/Documents/",
        //     title = "Markdown files in Documents",
        //     tooltip = "Find all Markdown in /Documents",
        //     file_mask = "*.md"
        // },
    };
}

<div x-data="setup_pwints()" id="main_flex" class="flex flex-row">

    <div class="border-primary-content/10 border-2 w-1/10 ">

        <template x-cloak x-for="[key, value] of Object.entries(views)">
            <div :data-tip="value.tip" class="tooltip tooltip-bottom tooltip-accent flex-col flex items-center justify-center gap-2">

                <button
                    x-on:click="value.enabled=!value.enabled"
                    class="btn btn-primary join-item shadow-md shadow-secondary-400/50"
                    :class="{'border-2 border-secondary btn-ghost': !value.enabled, 'border-2 border-accent': value.enabled }">
                    <label
                        x-text="key"
                        class="form-label badge badge-sm"
                        :asp-for='key'>
                    </label>

                    <input x-bind:name='key'
                           x-bind:value='value.enabled'
                           x-bind:checked="value.enabled"
                           type="checkbox"
                           :asp-for="key"
                           class="form-control toggle toggle-primary">
                </button>

            </div>

        </template>
    </div>

    <div class="grid grid-cols-1 grid-rows-2 w-9/10">

        <template x-if="true">

            <div x-transition x-show="views.SSE.enabled">

                <h1>SSE Sample </h1>

                <p>I want to stream in dirs / watch directory for updates</p>

                <div class="d-flex justify-content-center">
                    <div hx-sse="connect:/rn-updates" class="card mb-3 text-center" style="max-width: 18rem;">
                        <div class="card-header bg-primary text-white">Featured Random Number</div>
                        <div class="card-body">
                            <h5 class="card-title">The Random Number is..</h5>
                            <p class="card-text fa-4x"
                               hx-trigger="sse:number"
                               hx-get="@Url.Page("Pwints", "Random")">
                                <span>@Number.Value</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </template>

        <template x-if="views.DriveSearch.enabled">

            <div x-transition class="grid grid-cols-2 grid-rows-auto">

                @foreach ((var pwint, int index) in pwint_options.WithIndex())
                {
                    <div class="card w-96 bg-base-100 shadow-xl border-2 border-accent-content/20">

                        <h1 class="card-title  text-yellow-500"> @pwint.title</h1>


                        <div
                            :key="@pwint.id"
                            hx-get
                            hx-indicator="#pwints_indicator_@pwint.id"
                            hx-page="Pwints"
                            hx-trigger="load, click delay:250ms"
                            hx-page-handler="GrepFiles"
                            hx-vars="{file_mask: @pwint.file_mask.AsJSON(), root_directory: @pwint.root_directory.AsJSON()}"
                            hx-target="#results_@pwint.id"

                            class="card-body">

                            @* <pre>target: #results_@pwint.id</pre> *@

                            <span id="results_@pwint.id">...</span>

                            <span id="pwints_indicator_@pwint.id" class="htmx-indicator">
                                <label>loading ...</label>
                                <img class="w-8" alt="bars" src="~/img/loaders/circle_bars.svg"/>
                            </span>

                            <div card="card-actions">

                                <button
                                    @* disabled *@
                                    class="btn btn-ghost"
                                    hx-indicator="#pwints_indicator_@pwint.id"
                                    hx-trigger="click delay:1s">
                                    Reload
                                </button>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </template>

        <script>
        function setup_pwints(){
            return {
                views: {
                    SSE: { tip: 'Show SSE sample', enabled: false },
                    DriveSearch: { tip: 'Search drive for files matching a mask', enabled: true }
                }
            }
        }
    </script>

    </div>

</div>