@model List<CodeMechanic.Todoist.ProjectTodo>
@{
    var rows = Model;
    int limit = 100;
}

<div class="overflow-x-auto wrapper">
    <b>Rows: @rows.Count</b>

    <table class="table w-full">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Labels</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var row in rows.Take(limit))
        {
            <tr x-data="{show_details: false}">
                <th>
                    <label>
                        <input type="checkbox" class="checkbox"/>
                    </label>
                </th>
                <td>
                    <div class="flex items-center gap-3">
                        <div class="avatar">
                            <div class="bg-neutral text-neutral-content rounded-full w-12">
                                <span class="text-3xl">@row.Name.ToUpperInvariant()[0]</span>
                            </div>
                        </div>
                        <div>
                            <div class="font-bold text-secondary">@row.Labels.FirstOrDefault()</div>
                            <div class="text-sm opacity-50 text-primary">@row.is_checked_raw</div>
                        </div>
                    </div>
                </td>
                <td>
                    @row.rest
                    <br/>
                    <span class="badge badge-ghost badge-sm">@row.Name</span>
                </td>
                <th>
                    <button class="btn btn-ghost btn-xs" x-on:click="show_details=!show_details">
                        Details
                    </button>
                    <td x-text="show_details" x-show="show_details">@row.Description</td>
                </th>
                <td>@row.Name</td>
                <td>@row.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>