@using CodeMechanic.Types
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CodeMechanic.Diagnostics
@model List<CodeMechanic.Todoist.TodoistTask>

@{
    var priorities_select = Enumerable.Range(1, 4);
}

<ul>

    @foreach (var task in Model)
    {
        var days_old = (@task.due?.date?.ToDateTime(fallback: DateTime.Now) - @task.created_at?.ToDateTime())
            .ToMaybe().IfSome(x => x.TotalDays);

        <li class="grid grid-cols-2 gap-2" x-data="{show_updates:false}">
            <a target="_blank" href="@task.url" class="text-lg text-secondary truncate">
                @task.content

            </a>

            @if (task?.due != null && task.due.date.NotEmpty())
            {
                <b class="text-warning">Due on: @task?.due?.date.ToDateTime(fallback: DateTime.Now)</b>
            }
            <b class="text-success">Created on: @task.created_at.ToDateTime(fallback: DateTime.MinValue)</b>

            @if (@days_old > 0)
            {
                <b class="text-error">Days Old: @days_old</b>
            }

            <div>

                <button class="btn btn-accent btn-sm" x-on:click="show_updates=!show_updates">Actions</button>
                <div x-show="show_updates" class="flex flex-col">

                    <div class="form-control">
                        <label class="cursor-pointer label">
                            <span class="label-text">Complete</span>
                            <input type="checkbox" class="checkbox checkbox-accent"/>
                        </label>
                    </div>

                    <select class="select select-accent w-full max-w-xs">
                        <option disabled selected>Choose Priority</option>

                        @foreach (var p in priorities_select)
                        {
                            <option>@p</option>
                        }
                    </select>
                </div>
            </div>

            <details class="text-info">
                <div class="flex flex-col items-center justify-center gap-4">
                    <b>created on: @task.created_at</b>
                </div>
            </details>
        </li>
    }
</ul>


<style>
    
    .truncate {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
      
</style>