@using CodeMechanic.Types
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CodeMechanic.Todoist.TodoistTask>

@{
    var priorities_select = Enumerable.Range(1, 4);
}

<ul>
    @foreach (var task in Model)
    {
        <li class="grid grid-cols-1 gap-2 max-w-md border-error border-0" x-data="{show_updates:true}">
            <a target="_blank" href="@task.url" class="text-lg text-secondary truncate">
                @task.content
            </a>

            @if (task?.due != null && task.due.date.NotEmpty())
            {
                <b class="text-info">Due on: @task?.due?.date.ToDateTime(fallback: DateTime.Now)</b>
                @* <b>Due: @task.due.humanized</b> *@
                @* <b>age: @task.due.humanized_age</b> *@
            }
            @* <b class="text-success">Created on: @task.created_at.ToDateTime(fallback: DateTime.MinValue)</b> *@

            @if (@task.Age > 0)
            {
                <b class="text-error">Days Old: @Math.Round(@task.Age, 0)</b>
            }

            <div class="flex flex-row border-0 border-success">
                @* <button class="btn btn-accent btn-sm" x-on:click="show_updates=!show_updates">Actions</button> *@
                <div x-show="show_updates" class="flex flex-col">
                    <div class="form-control">
                        <label class="cursor-pointer label">
                            <span class="label-text">Complete</span>
                            <input type="checkbox" class="checkbox checkbox-accent"/>
                        </label>
                    </div>
                    <select class="select select-accent w-full max-w-xs">
                        <option disabled selected>Choose Priority</option>

                        @foreach (var p in priorities_select)
                        {
                            <option>@p</option>
                        }
                    </select>
                </div>
            </div>
            @* <details class="text-info"> *@
            @*     <div class="flex flex-col items-center justify-center gap-4"> *@
            @*         <b>created on: @task.created_at</b> *@
            @*     </div> *@
            @* </details> *@
        </li>
    }
</ul>

<style>
    .truncate {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
</style>