@model List<CodeMechanic.Todoist.TodoistTask>
@{
    var rows = Model;
}
@foreach (var row in rows)
{
    <tr x-data="{show_details: false}">
        <th>
            <label>
                <input type="checkbox" class="checkbox"/>
            </label>
        </th>
        <td>
            <div class="flex items-center gap-3">
                <div class="avatar">
                    <div class="bg-neutral text-neutral-content rounded-full w-12">
                        <span class="text-3xl">@row.content.ToUpperInvariant()[0]</span>
                    </div>
                </div>
                <div>
                    <div class="tooltip" data-tip="Visit">
                        <a target="_blank" href="@row.url">
                            <div class="font-bold text-secondary">@row.content</div>
                        </a>
                    </div>
                    <p class="text-sm opacity-50 text-primary">@row.project_id</p>
                </div>
            </div>
        </td>
        <td>
            <label>Priority:</label>
            <span>@row.priority</span>
            <br/>
            @foreach (var label in @row.labels)
            {
                <span class="badge badge-ghost badge-sm">@label</span>
            }
        </td>
        <th>
            <button
                hx-get="@Url.Page("Index", "FindComment", new { task_id = row.id })"
                hx-swap="innerHTML"
                hx-target="#deets"
                class="btn btn-ghost btn-xs" x-on:click="show_details=!show_details">
                Details
            </button>

            @* <span id="@row.id" *@
            @*       class="htmx-indicator"> *@
            @*     <label for="">loading comments ...</label> *@
            @*     <img alt="bars" src="~/img/bars.svg"/> *@
            @* </span> *@
            <td x-show="show_details">


                <span id="deets"></span>
                @* hx-get *@
                @* hx-page="Index" *@
                @**@
                @*  *@
                @* hx-page-handler="FindComment" *@
                @* <button *@
                @*     hx-indicator="#@row.id" *@
                @*     hx-trigger="init" *@
                @*     hx-get="@Url.Page("Index", "FindComment")" *@
                @*     hx-swap="outerHTML"> *@
                @*     ... *@
                @* </button> *@


            </td>
        </th>
        <td>@row.is_completed</td>
        <td>@row.id</td>
    </tr>
}
