@page
@using CodeMechanic.Todoist
@using evantage.Pages.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Index

<div x-data="setup_todoist()"
     class="items-center justify-center flex flex-col">

    @* <pre x-text="localStorage.getItem('blade_state')"></pre> *@
    @* x-effect="localStorage.setItem('blade_state', blades);" *@
    <ul

        class="menu menu-horizontal lg:menu-horizontal bg-transparent rounded-box opacity-50">

        <span :class="blades.full_day.classname" data-tip="A Full Day">
            <button @@click="blades.full_day.show = !blades.full_day.show" class="btn btn-md ">
                <span class="text-sm">
                    Full Day
                </span>
            </button>
        </span>

        <span :class="blades.todos_table.classname" class="tooltip" data-tip="All Todos from CodeMechanic.Todoist">
            <button @@click="blades.todos_table.show = !blades.todos_table.show" class="btn btn-md ">
                <span class="text-sm">
                    Todos
                </span>
            </button>
        </span>

        <span :class="blades.readme_table.classname" class="tooltip" data-tip="Todos from Readme.md">
            <button @@click="blades.readme_table.show = !blades.readme_table.show" class="btn btn-md">
                <span class="text-sm">
                    README
                </span>
            </button>
        </span>

        <span :class="blades.stats.classname" class="tooltip" data-tip="CodeMechanic.Todoist Stats">
            <button @@click="blades.stats.show = !blades.stats.show" class="btn btn-md">
                <span class="text-sm">
                    Stats
                </span>
            </button>
        </span>
        <span :class="blades.projects_breakdown.classname" class="tooltip" data-tip="List of CodeMechanic.Todoist Projects">
            <button @@click="blades.projects_breakdown.show = !blades.projects_breakdown.show" class="btn btn-md">
                <span class="text-sm">
                    Projects
                </span>
            </button>
        </span>
    </ul>

    <hydro-bento>

        <div x-transition
             x-show="blades.full_day.show" class="bento bento-shadow-blue p-4 col-span-2">
            <partial name="FullDay"></partial>
        </div>

        <div x-transition
             x-show="blades.todos_table.show" class="bento bento-shadow-blue p-4 col-span-2">
            <partial name="TodoistTasks"></partial>
        </div>

        @* <template x-if="blades.readme_table.show"> *@
        <div x-transition x-show="blades.readme_table.show" class="bento p-4 bento-shadow-blue col-span-2">
            <partial name="ReadmeTasks"></partial>
        </div>
        @* </template> *@

        <section
            x-transition
            x-collapse
            x-show="blades.stats.show"
            class="bento bento-shadow-blue card bg-base-100 shadow-xl col-span-2 md:col-span-1">
            <div class="border-primary border-l-accent">
                <div class="hero">
                    <div class="hero-content text-center">
                        <div class="max-w-md">
                            <h1 class="text-5xl text-accent font-bold">Your Goals</h1>
                            <p class="py-6 text-secondary">
                                Here's how you're doing overall:
                            </p>

                            <div class="stats lg:stats-horizontal stats-vertical shadow">

                                <div class="stat place-items-center">
                                    <div class="stat-title">Total Tasks</div>
                                    <div class="stat-value">@Model.all_tasks_count</div>
                                    @* <div class="stat-desc">From January 1st to February 1st</div> *@
                                </div>

                                <div class="stat place-items-center">
                                    <div class="stat-title">Projects</div>
                                    <div class="stat-value text-secondary">@Model.project_total_count</div>
                                    @* <div class="stat-desc text-secondary">↗︎ 40 (2%)</div> *@
                                </div>

                                <div class="stat place-items-center">
                                    <div class="stat-title">Tasks Completed</div>
                                    <div class="stat-value">@Model.completed_tasks_count</div>
                                    <div class="stat-desc text-ghost font-italic">(this week)</div>
                                    @* <div class="stat-desc">↘︎ 90 (14%)</div> *@
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
            x-transition
            x-show="blades.projects_breakdown.show"
            x-collapse
            class="bento bento-shadow-blue grid grid-rows-auto lg:grid-cols-2 grid-cols-1 gap-4 lg:col-span-2 sm:col-span-1">
            @foreach (var project in @Model.todoist_stats.TodoistProjects)
            {
                var tasks_related_to_project = @Model.todoist_stats.FindTodosByProject(project);
                var completed_tasks = @Model.todoist_stats.FindCompletedTodos(project);
                // var done_percentage = MathExtensions.GetPercentChange(completed_tasks_count, related_tasks.Count);

                <div class="card w-full bg-base-100 shadow-xl">

                    <div class="card-body">
                        <h2 class="card-title">
                            @project.name
                            <div class="badge badge-secondary">@project.view_style</div>
                        </h2>

                        <div class="stats stats-vertical border-2 border-accent-content/10">
                            <div class="stat">
                                <div class="stat-figure text-secondary">

                                    <div class="radial-progress" style="--value:80;" role="progressbar">
                                        @* @done_percentage % *@
                                    </div>
                                </div>
                                <div class="stat-value">@completed_tasks.Count</div>
                                <div class="stat-title">Tasks done</div>
                                <div class="stat-desc text-lg text-primary">
                                    @tasks_related_to_project.Count total tasks in this project.
                                </div>
                            </div>

                        </div>

                        @* <p>@project.view_style</p> *@
                        @* <div class="card-actions justify-end"> *@
                        @*     <div class="badge badge-outline">Fashion</div> *@
                        @*     <div class="badge badge-outline">Products</div> *@
                        @* </div> *@
                    </div>
                </div>
        @* <li>Name: @project.name</li> *@
        @* <li>Name: @project.color</li> *@
        @* <li>Name: @project.id</li> *@
            }
        </section>


    </hydro-bento>

</div>

<script>
    let special_hover_border = 'tooltip border-2 rounded-lg border-info'
    let previous_state = localStorage.getItem('blade_state');
    // !previous_state ??
    //  console.log('prev blade state:>> ', previous_state); // todo: save blade states on toggle events, then have it load into blades obj.
    
    function setup_todoist() {
        return {
            blades: {
                stats: {show:false, get classname() {return !this.show? 'tooltip':special_hover_border}},     
                projects_breakdown: {show:false, get classname() {return !this.show? 'tooltip':special_hover_border}},     
                todos_table: {show:true, get classname() {return !this.show? 'tooltip':special_hover_border}},     
                readme_table: {show:false, get classname() {return !this.show? 'tooltip':special_hover_border}},    
                full_day: {show:false, get classname() {return !this.show? 'tooltip':special_hover_border}} 
            }
            // ,
            // save_blades(){
            //     localStorage.setItem('blade_state', this.blades);
            // }
        }
    }
</script>