@using Htmx.TagHelpers
@model List<CodeMechanic.FileSystem.Grepper.GrepResult>
@{
    var rows = Model;
    int limit = 100;
    string SelectedProgram = "code-insiders";
}

<section id="filesystem_logs" class="vertical-padding">
    <div class="overflow-x-auto wrapper">
        <b>Rows: @rows.Count</b>

        <table class="table w-full">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" class="checkbox"/>
                </th>
                <th>Table</th>
                <th>Exception</th>
                <th>Diff</th>
                <th>Params</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var row in rows.Take(limit))
            {
                <tr x-data="{show_details: false}">
                    <th>
                        <label>
                            <input type="checkbox" class="checkbox"/>
                        </label>
                    </th>
                    <td>
                        <div class="flex items-center gap-3">
                            <div class="avatar">
                                <div class="bg-neutral text-neutral-content rounded-full w-12">
                                    <span class="text-3xl">@row.FileName.ToUpperInvariant()[0]</span>
                                </div>
                            </div>
                            <div>
                                <div class="font-bold text-secondary">@row.FileName</div>
                            </div>
                        </div>
                    </td>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <span data-tip="Open In File Explorer" class="tooltip tooltip-accent">

                            <button class="btn btn-accent"
                                    hx-get
                                    hx-swap="none"
                                    hx-vals='{"filepath": "@row.FilePath", "program": "@SelectedProgram"}'
                                    hx-page-handler="OpenInExplorer">
                                Open
                            </button>
                        </span>

                    </th>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>
<style>
    .wrapper {
        width: min(900px, 100% - 3rem);
        /*margin-inline: auto;*/
    }
    table {
        border-collapse: collapse;
    }
    
    th,td {
        padding: 1rem;
        /*background: #002f4a;*/
    }
    
    caption,th {
        text-align: left;
    }
   _Layou 
    caption {
        /*background: hsl(0, 0%, 0%);*/
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    
     @@media(max-width: 650px) {
        th {
            display: none;
        }
        td {
            display: block;
            padding: 0.75rem 1rem;
        }
        
        td:first-child {
            padding-top: 2rem;
        }
        td:last-child {
            padding-bottom: 2rem;
        }
        
        td::before {
            content: attr(data-cell) ": ";
            font-weight: 700;
            text-transform: capitalize;
        }
        
        /*td:nth-of-type(1)::before {*/
        /*    content: "retailer"*/
        /*}*/
     }
        
</style>