@page
@model evantage.Pages.Leads.Import.ImportFromMarkdown

@{
    var md_files = @Model.LocalMarkdownFiles;
    int cols = @md_files.Count % 10;
    int index = 0;
}

<h1>Import Leads from Markdown</h1>

<span> Total files: @md_files.Count</span>
<div class="grid grid-cols-@cols grid-rows-auto">
    @foreach (var md_file in md_files)
    {
        <div x-data="{loading:false, foo: 999}"
             class="card w-96 bg-base-100 shadow-xl"
             key="@index">
            <div class="card-body">
                <h2 class="card-title">@md_file.FileName</h2>
                <p>@md_file.FilePath</p>
                <div class="card-actions justify-end">

                    @* hx-trigger="load" *@
                    <button
                        hx-get
                        hx-page-handler="Import"
                        hx-swap="outerHTML"
                        hx-vals='{"id": "@index"}'
                        hx-indicator="#bars_@index"
                        hx-on::before-request="loading=true"
                        hx-on::after-request="loading=false"
                        class="btn btn-primary">
                        Import

                        <img
                            id="bars_@index" alt="Result loading..."
                            class="htmx-indicator ml-4 md:w-6 sm:w-4"
                            src="~/img/bars.svg"/>
                    </button>
                </div>
            </div>
        </div>
        index++;
    }

</div>